@model IEnumerable<AutomatedTellerMachine.Models.GameInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platforms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaCriticScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InPageImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoUrl2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewLinks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewLinks2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewLinks3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewLinks4)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Platforms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaCriticScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InPageImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thumbnail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thumbnail2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thumbnail3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thumbnail4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoUrl2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewLinks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewLinks2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewLinks3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewLinks4)
        </td>
    </tr>
}

</table>
